/* Contact.css */

#bankers {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #d6d8db;
    border-radius: 8px;
    margin: 20px;
  }
  
  h1 {
    color: #343a40;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #495057;
    font-size: 1.25rem;
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  /* Add more styles as needed */
  .body{
    font-family: 'Nunito Sans', sans-serif;

  }